.about {
  padding-top: 38px;

  &--info {
    padding-top: 29px;
  }

  @media (max-width: 1023px) {
    padding-top: 40px;
    padding-bottom: 18px;

    &--info {
      padding-top: 19px;
    }
  }
}

.about__title {
  margin-bottom: 39px;

  &--info {
    margin-bottom: 64px;
  }

  @media (max-width: 1023px) {
    margin-bottom: 32px;

    &--info {
      margin-bottom: 19px;
      width: 90%;
    }
  }
}

.about__text-wrapper {
  width: 95%;
  margin-bottom: 60px;

  @media (max-width: 1023px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 18px;
  }
}

.about__text {
  font-size: 20px;
  line-height: 31px;
  text-indent: 48px;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (max-width: 1023px) {
    text-indent: 40px;

    &--info {
      font-size: 12px;
      line-height: 19px;
    }
  }
}

.about__link {
  color: #000;
  font-family: "Tahoma";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-transform: lowercase;
  padding: 12px 12px 13px 28px;
  position: relative;

  &::before {
    content: ">>";
    color: #000;
    font-family: "Titan One";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    left: 4px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
