.about {
  padding-top: 38px;

  @media (max-width: 1023px) {
    padding-bottom: 14px;
  }
}

.about__title {
  margin-bottom: 39px;

  @media (max-width: 1023px) {
    margin-bottom: 26px;
  }
}

.about__text-wrapper {
  width: 95%;
  margin-bottom: 60px;

  @media (max-width: 1023px) {
    margin-left: 8px;
    margin-bottom: 30px;
  }
}

.about__text {
  font-size: 20px;
  line-height: 31px;
  text-indent: 48px;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 26px;
    text-indent: 28px;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}

.about__link {
  color: #000;
  font-family: Tahoma;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-transform: lowercase;
  padding: 12px 12px 13px 28px;
  position: relative;

  &::before {
    content: ">>";
    color: #000;
    font-family: "Titan One";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    left: 4px;
  }

  @media (max-width: 1023px) {
    font-size: 20px;
    line-height: 25px;
    padding: 8px 8px 9px 22px;

    &::before {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
