.content-container {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 64px;
  margin: 0 auto;

  &--services {
    padding: 51px 76px 58px;
  }

  &--contacts {
    padding: 0 87px 0 64px;
  }

  @media (max-width: 1023px) {
    width: 320px;
    padding: 0 20px;

    &--services {
      padding: 32px 28px;
    }

    &--about {
      padding: 0 10px;
    }
  }
}
