@font-face {
  font-family: "Visby CF";
  src: url("../fonts/visbyregular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Visby CF";
  src: url("../fonts/visbymedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Visby CF";
  src: url("../fonts/visbydemibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Visby CF";
  src: url("../fonts/visbybold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Visby CF";
  src: url("../fonts/visbyheavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahoma.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahomabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Titan One";
  src: url("../fonts/titanone.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
