.footer {
  padding-top: 52px;
  padding-bottom: 40px;
  color: #ffffff;
  background-color: #6ca1ac;

  @media (max-width: 1023px) {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.footer__type-logo {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;

  @media (max-width: 1023px) {
    font-size: 24px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: lowercase;

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 120%;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 25px;

  @media (max-width: 1023px) {
    margin-bottom: 16px;
  }
}

.footer__contacts-item {
  color: #fff;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.5px;

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 120%;
  }

  &--email {
    text-decoration: underline;
  }

  &--email,
  &--phone {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

.footer__copyright {
  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 120%;
  }
}
