body {
color: #000;
font-family: "Visby CF", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
