.hero {
  background-color: #541901;
  padding-top: 90px;
  padding-bottom: 91px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1023px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.hero__title {
  margin-bottom: 38px;

  @media (max-width: 1023px) {
    margin-bottom: 26px;
  }
}

.hero__text {
  width: 61%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-bottom: 26px;
  margin-left: 4px;

  @media (max-width: 1023px) {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: normal;
  }
}

.hero__link {
  color: #000;
  background-color: #fbfbfb;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  padding: 12px 14px 13px 36px;
  position: relative;

  &::before {
    content: ">>";
    color: #FF7B31;
    font-family: "Visby CF";
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    position: absolute;
    left: 14px;
    top: 10px;
  }

  @media (max-width: 1023px) {
    width: max-content;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 8px 8px 26px;

    &::before {
      font-size: 12px;
      line-height: 21px;
      left: 10px;
      top: 8px;
    }
  }

  &:focus-visible,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
