.hero {
  background-color: #541901;
  padding-top: 90px;
  padding-bottom: 91px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1023px) {
    padding-top: 95px;
    padding-bottom: 92px;
  }
}

.hero__title {
  margin-bottom: 38px;

  @media (max-width: 1023px) {
    margin-bottom: 21px;
  }
}

.hero__text {
  width: 61%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-bottom: 26px;
  margin-left: 4px;

  @media (max-width: 1023px) {
    width: 99%;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    margin-left: 0;
    margin-bottom: 49px;
  }
}

.hero__link {
  color: #000;
  background-color: #fbfbfb;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  padding: 12px 14px 13px 36px;
  position: relative;

  &::before {
    content: ">>";
    color: #FF7B31;
    font-family: "Visby CF";
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    position: absolute;
    left: 14px;
    top: 10px;
  }

  @media (max-width: 1023px) {
    width: 100%;
    margin: 0 -5px;
    font-size: 12px;
    line-height: 19px;
    padding: 11px 5px 10px 23px;
    letter-spacing: 0.3px;

    &::before {
      font-size: 12px;
      line-height: 19px;
      left: 7px;
      top: 10px;
    }
  }

  &:focus-visible,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
