.nav {
  flex-grow: 1;

  @media (max-width: 1023px) {
    &--active .nav__toggle {
      border-bottom: none;
      top: -1px;
    }

    &--active .nav__toggle::before {
      transform: rotate(45deg);
      top: 12px;
    }

    &--active .nav__toggle::after {
      transform: rotate(-45deg);
      bottom: 12px;
    }

    &--active .nav__list {
      background-color: #ffffff;
      top: 0;
    }
  }
}

.nav__list {
  @media (max-width: 1023px) {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    z-index: 2;
    transition: 0.3s linear;
  }
}

.nav__toggle {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    top: -5px;
    z-index: 3;
    border-bottom: solid 2px #000000;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000000;
      border-radius: 2px;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 5px;
    }
  }
}
