.swiper-pagination {
  --swiper-pagination-bullet-horizontal-gap: 9px;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
