.title {
  font-family: "Visby CF";
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
  color: #000;
  letter-spacing: -1px;

  &--light {
    color: #fff;
  }

  @media (max-width: 1023px) {
    font-size: 30px;
    line-height: 110%;
  }
}
